<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<system.serviceModel>
	<bindings>
		<netTcpBinding>
			<binding sendTimeout="00:10:00" />
		</netTcpBinding>
	</bindings>
	<behaviors>
			<serviceBehaviors>
				<behavior name="Behev">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="ClassLibrary1.Service1" behaviorConfiguration="Behev">
				<endpoint address="" binding="netTcpBinding" contract="ClassLibrary1.IService1"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8301" />
						<add baseAddress="net.tcp://localhost:8302"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WcfTrace.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>