<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding sendTimeout="00:10:00" />
			</basicHttpBinding>
		</bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Behev">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ClassLibrary1.Service1" behaviorConfiguration="Behev">
                <endpoint address="" binding="basicHttpBinding" contract="ClassLibrary1.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/ClassLibrary1/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WcfTrace.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>
